In [1]:
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings("ignore")
# For connect to google sheet
import gspread
from oauth2client.service_account import ServiceAccountCredentials
from df2gspread import df2gspread as d2g

In [7]:
# Configure the connection 
scope = ['https://spreadsheets.google.com/feeds']

# Give the path to the Service Account Credential json file 
credentials = ServiceAccountCredentials.from_json_keyfile_name('jupyter-sheets.json',
                                                               scope
                                                              )
# Authorise your Notebook
gc = gspread.authorize(credentials)

# # The spread sheet ID, which can be taken from the link to the sheet
# spreadsheet_key = '1xXaUrkEEXY9UrW-HRNuRq73-0HxllTy3FF3U2L_GtJY'

In [16]:
# spreadsheet_key = '1xXaUrkEEXY9UrW-HRNuRq73-0HxllTy3FF3U2L_GtJY' 
# book = gc.open_by_key(spreadsheet_key) 
# worksheet= book.worksheet("Sheet1") 
# table = worksheet.get_all_values()

In [17]:
data = pd.read_csv("weight-height copy.csv")

In [18]:
data

      Gender     Height      Weight
0       Male  73.847017  241.893563
1       Male  68.781904  162.310473
2       Male  74.110105  212.740856
3       Male  71.730978  220.042470
4       Male  69.881796  206.349801
...      ...        ...         ...
9995  Female  66.172652  136.777454
9996  Female  67.067155  170.867906
9997  Female  63.867992  128.475319
9998  Female  69.034243  163.852461
9999  Female  61.944246  113.649103

[10000 rows x 3 columns]

In [21]:
# Set the sheet name you want to upload data to and the start cell where the upload data begins 
wks_name = 'Sheet4'
cell_of_start_df = 'A1'
# upload the dataframe of the clients we want to delete
d2g.upload(data,
           spreadsheet_key,
           wks_name,
           credentials=credentials,
           col_names=True,
           row_names=False,
           start_cell = cell_of_start_df,
           clean=False)
print ('The sheet is updated successfully')

The sheet is updated successfully